<section class="home container" id="home">
  <div class="home-text">
    <h1>Find Your Next <br>Perfect Place To<br>Live</h1>
    <!--    Sign Up button-->
  </div>
</section>
<section class="properties container" id="properties">
  <div class="heading">
    <span><a href="javascript:" data-toggle="modal" data-target="#exampleModal">Add House</a></span>
    <h2>My House</h2>
    <!--      <p>Lorem ípum</p>-->
  </div>
  <form action="">
    <div class="properties-container container">
      <!--    Box1-->

    </div>
  </form>
</section>


<!--Copyright-->
<div class="copyright">
  <p>&#169; Home Rental Properties</p>
</div>
