<!--Navbar-->
<header>
  <div class="nav container">
    <!--    logo-->
    <a routerLink="/" class="logo"><i class="bx bx-home"></i>Hydra</a>

    <input type="checkbox" name="" id="menu">
    <label for="menu"><i class="bx bx-menu" id="menu-icon"></i></label>
    <ul class="navbar">
      <li><a href=""></a>Home</li>
      <li><a href=""></a>About</li>
      <li><a href=""></a>Sale</li>
      <li><a href=""></a>Properties</li>
    </ul>
    <!--    login button-->
    <a routerLink="/login" class="btn">Log In</a>
  </div>
</header>
<!--home-->
<section class="home container" id="home">
  <div class="home-text">
    <h1>Find Your Next <br>Perfect Place To<br>Live</h1>
    <!--    Sign Up button-->
  </div>
</section>
<!--about-->
<!--<section class="about container" id="about">-->
<!--  <div class="about-img">-->
<!--    <img src="" alt="">-->
<!--  </div>-->
<!--  <div class="about-text">-->
<!--    <span>About Us</span>-->
<!--    <h2>We provice The Best <br>Property For You!</h2>-->
<!--    <p>Lorem ipsum, dolor sit amet</p>-->
<!--    <p>Lorem ipsum, dolor sit amet</p>-->
<!--    <p>Lorem ipsum, dolor sit amet</p>-->
<!--    <a href="" class="btn">Learn More</a>-->
<!--  </div>-->
<!--</section>-->
<!--sale-->
<section class="sales container" id="sales">
<!--  <div class="box">-->
<!--    <i class="bx bx-user"></i>-->
<!--    <h3>Make Your Dream</h3>-->
<!--    <p>Lorem ipsum dolor sit</p>-->
<!--  </div>-->

<!--  <div class="box">-->
<!--    <i class="bx bx-desktop"></i>-->
<!--    <h3>Start Your membership</h3>-->
<!--    <p>Lorem ipsum dolor sit</p>-->
<!--  </div>-->

<!--  <div class="box">-->
<!--    <i class="bx bx-home-alt"></i>-->
<!--    <h3>Enjoy Your New Home</h3>-->
<!--    <p>Lorem ipsum dolor sit</p>-->
<!--  </div>-->
</section>
<!--Properties-->
<section class="properties container" id="properties">
  <!--  <div class="heading">-->
  <!--    <span>Recent</span>-->
  <!--    <h2>Our Featured</h2>-->
  <!--    <p>Lorem ípum</p>-->
  <!--  </div>-->
  <form action="">
    <div class="properties-container container">
      <!--    Box1-->

      <div class="box" *ngFor="let item of homes">
        <img src="{{item.imagee}}" style="width: 100%">
        <h3>Giá: {{item.price}}/bạt </h3>
        <div class="content">
          <div class="text">
            <h3>{{item.name}}</h3>
            <p>{{item.address}}</p>
          </div>
          <div class="icon">
            <i class="bx bx-bed"><span> {{item.bedroom}}</span></i>
            <i class="bx bx-bath"><span> {{item.bathroom}}</span></i>
          </div>
        </div>
      </div>

    </div>
  </form>
</section>
<!--NewsLetter-->
<section class="newsletter container">
  <h2>Have Question <br>Let us help you</h2>
  <form action="">
    <input type="email" name="" id="email-box" placeholder="yourmai@gmail.com" required>
    <input type="submit" value="Send" class="btn">
  </form>
</section>
<!--Footer-->
<section class="footer">
  <div class="footer-container container">
    <h2>R.State</h2>
    <div class="footer-box">
      <h3>Quick Links</h3>
      <a href="">Agency</a>
      <a href="">Agency</a>
      <a href="">Agency</a>
    </div>
    <div class="footer-box">
      <h3>Locations</h3>
      <a href="">Agency</a>
      <a href="">Agency</a>
      <a href="">Agency</a>
    </div>
    <div class="footer-box">
      <h3>Contact</h3>
      <a href="">Agency</a>
      <a href="">Agency</a>
      <div class="social">
        <a href=""><i class="bx bx1-facebook"></i></a>
        <a href=""><i class="bx bx1-twitter"></i></a>
        <a href=""><i class="bx bx1-instagram"></i></a>
      </div>
    </div>
  </div>
</section>
<!--Copyright-->
<div class="copyright">
  <p>&#169; Home Rental Properties</p>
</div>
