<app-navbar></app-navbar>
<section class="home container" id="home">
  <div class="home-text">
    <h1>Find Your Next <br>Perfect Place To<br>Live</h1>
    <!--    Sign Up button-->
  </div>
</section>
<!--about-->
<!--<section class="about container" id="about">-->
<!--  <div class="about-img">-->
<!--    <img src="" alt="">-->
<!--  </div>-->
<!--  <div class="about-text">-->
<!--    <span>About Us</span>-->
<!--    <h2>We provice The Best <br>Property For You!</h2>-->
<!--    <p>Lorem ipsum, dolor sit amet</p>-->
<!--    <p>Lorem ipsum, dolor sit amet</p>-->
<!--    <p>Lorem ipsum, dolor sit amet</p>-->
<!--    <a href="" class="btn">Learn More</a>-->
<!--  </div>-->
<!--</section>-->
<!--sale-->
<!--<section class="sales container" id="sales">-->
<!--  <div class="box">-->
<!--    <i class="bx bx-user"></i>-->
<!--    <h3>Make Your Dream</h3>-->
<!--    <p>Lorem ipsum dolor sit</p>-->
<!--  </div>-->

<!--  <div class="box">-->
<!--    <i class="bx bx-desktop"></i>-->
<!--    <h3>Start Your membership</h3>-->
<!--    <p>Lorem ipsum dolor sit</p>-->
<!--  </div>-->

<!--  <div class="box">-->
<!--    <i class="bx bx-home-alt"></i>-->
<!--    <h3>Enjoy Your New Home</h3>-->
<!--    <p>Lorem ipsum dolor sit</p>-->
<!--  </div>-->
<!--</section>-->
<!--Properties-->
<section class="properties container" id="properties">
    <div class="heading">
      <span><a href="javascript:" data-toggle="modal" data-target="#exampleModal">Add House</a></span>
      <h2>My House</h2>
<!--      <p>Lorem ípum</p>-->
    </div>
  <form action="">
    <div class="properties-container container">
      <!--    Box1-->

      <div class="box">
        <img src="" alt="">
        <h3>Giá $ hiện ở đây</h3>
        <div class="content">
          <div class="text">
            <h3>The Palace</h3>
            <p>London,UK</p>
            <button style="border: none">Edit</button>
            <button style="margin-left: 3px; border: none">Delete</button>
          </div>
          <div class="icon">
            <i class="bx bx-bed"><span>5</span></i>
            <i class="bx bx-bath"><span>2</span></i>
          </div>
        </div>
      </div>

      <div class="box">
        <img src="" alt="">
        <h3>Giá $ hiện ở đây</h3>
        <div class="content">
          <div class="text">
            <h3>The Palace</h3>
            <p>London,UK</p>
          </div>
          <div class="icon">
            <i class="bx bx-bed"><span>5</span></i>
            <i class="bx bx-bath"><span>2</span></i>
          </div>
        </div>
      </div>

      <div class="box">
        <img src="" alt="">
        <h3>Giá $ hiện ở đây</h3>
        <div class="content">
          <div class="text">
            <h3>The Palace</h3>
            <p>London,UK</p>
          </div>
          <div class="icon">
            <i class="bx bx-bed"><span>5</span></i>
            <i class="bx bx-bath"><span>2</span></i>
          </div>
        </div>
      </div>
      <div class="box">
        <img src="" alt="">
        <h3>Giá $ hiện ở đây</h3>
        <div class="content">
          <div class="text">
            <h3>The Palace</h3>
            <p>London,UK</p>
          </div>
          <div class="icon">
            <i class="bx bx-bed"><span>5</span></i>
            <i class="bx bx-bath"><span>2</span></i>
          </div>
        </div>
      </div>
      <div class="box">
        <img src="" alt="">
        <h3>Giá $ hiện ở đây</h3>
        <div class="content">
          <div class="text">
            <h3>The Palace</h3>
            <p>London,UK</p>
          </div>
          <div class="icon">
            <i class="bx bx-bed"><span>5</span></i>
            <i class="bx bx-bath"><span>2</span></i>
          </div>
        </div>
      </div>
      <div class="box">
        <img src="" alt="">
        <h3>Giá $ hiện ở đây</h3>
        <div class="content">
          <div class="text">
            <h3>The Palace</h3>
            <p>London,UK</p>
          </div>
          <div class="icon">
            <i class="bx bx-bed"><span>5</span></i>
            <i class="bx bx-bath"><span>2</span></i>
          </div>
        </div>
      </div>

    </div>
  </form>
</section>
<!--NewsLetter-->

<!--Footer-->

<!--Copyright-->
<div class="copyright">
  <p>&#169; Home Rental Properties</p>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new House</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="add()">
          <label>Name</label>
          <input type="text" formControlName="name" class="form-control">
          <label>Address</label>
          <input type="text" formControlName="address" class="form-control">
          <label>BedRoom</label>
          <input type="text" formControlName="bedroom" class="form-control">
          <label>BathRoom</label>
          <input type="text" formControlName="bathroom" class="form-control">
          <label>Description</label>
          <input type="text" formControlName="description" class="form-control">
          <label>Price</label>
          <input type="text" formControlName="price" class="form-control">
          <label>Status</label>
          <select formControlName="status" class="form-control">
            <option value="2">Maintain</option>
            <option value="1">Available</option>
            <option value="0">Already have tenants</option>
          </select>
          <!--        </form>-->
          <!--            <option *ngFor="let category of listCategory" [value]="category.id">-->
          <!--              {{category.name}}-->
          <!--            </option>-->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!--<li class="drop-menu-item">-->
<!--  <a href="javacript:" data-toggle="modal" data-target="#login">-->
<!--    Sign In-->
<!--  </a>-->
<!--</li>-->

<div class="modal fade form-modal" id="login" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog max-width-px-840 position-relative">
    <button type="button" class="circle-32 btn-reset bg-white pos-abs-tr mt-md-n6 mr-lg-n6 focus-reset z-index-supper" data-dismiss="modal"><i class="fas fa-times"></i></button>
    <div class="login-modal-main bg-white rounded-8 overflow-hidden">
      <div class="row no-gutters">
        <div class="col-lg-5 col-md-6">
          <div class="pt-10 pb-6 pl-11 pr-12 bg-black-2 h-100 d-flex flex-column dark-mode-texts">
            <div class="pb-9">
              <h3 class="font-size-8 text-white line-height-reset pb-4 line-height-1p4">
                Welcome Back
              </h3>
              <p class="mb-0 font-size-4 text-white">Log in to continue your account
                and explore new jobs.</p>
            </div>
            <div class="border-top border-default-color-2 mt-auto">
              <div class="d-flex mx-n9 pt-6 flex-xs-row flex-column">
                <div class="pt-5 px-9">
                  <h3 class="font-size-7 text-white">
                    295
                  </h3>
                  <p class="font-size-3 text-white gr-opacity-5 line-height-1p4">New jobs
                    posted today</p>
                </div>
                <div class="pt-5 px-9">
                  <h3 class="font-size-7 text-white">
                    14
                  </h3>
                  <p class="font-size-3 text-white gr-opacity-5 line-height-1p4">New companies
                    registered</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-md-6">
          <div class="bg-white-2 h-100 px-11 pt-11 pb-7">
            <div class="row">
              <div class="col-4 col-xs-12">
                <a href="" class="font-size-4 font-weight-semibold position-relative text-white bg-allports h-px-48 flex-all-center w-100 px-6 rounded-5 mb-4"><i class="fab fa-linkedin pos-xs-abs-cl font-size-7 ml-xs-4"></i> <span class="d-none d-xs-block">Log in with LinkedIn</span></a>
              </div>
              <div class="col-4 col-xs-12">
                <a href="" class="font-size-4 font-weight-semibold position-relative text-white bg-poppy h-px-48 flex-all-center w-100 px-6 rounded-5 mb-4"><i class="fab fa-google pos-xs-abs-cl font-size-7 ml-xs-4"></i> <span class="d-none d-xs-block">Log in with Google</span></a>
              </div>
              <div class="col-4 col-xs-12">
                <a href="" class="font-size-4 font-weight-semibold position-relative text-white bg-marino h-px-48 flex-all-center w-100 px-6 rounded-5 mb-4"><i class="fab fa-facebook-square pos-xs-abs-cl font-size-7 ml-xs-4"></i> <span class="d-none d-xs-block">Log in with Facebook</span></a>
              </div>
            </div>
            <div class="or-devider">
              <span class="font-size-3 line-height-reset ">Or</span>
            </div>
            <form action="/">
              <div class="form-group">
                <label for="email" class="font-size-4 text-black-2 font-weight-semibold line-height-reset">E-mail</label>
                <input type="email" class="form-control" placeholder="example@gmail.com" id="email">
              </div>
              <div class="form-group">
                <label for="password" class="font-size-4 text-black-2 font-weight-semibold line-height-reset">Password</label>
                <div class="position-relative">
                  <input type="password" class="form-control" id="password" placeholder="Enter password">
                  <a href="#" class="show-password pos-abs-cr fas mr-6 text-black-2" data-show-pass="password"></a>
                </div>
              </div>
              <div class="form-group d-flex flex-wrap justify-content-between">
                <label for="terms-check" class="gr-check-input d-flex  mr-3">
                  <input class="d-none" type="checkbox" id="terms-check">
                  <span class="checkbox mr-5"></span>
                  <span class="font-size-3 mb-0 line-height-reset mb-1 d-block">Remember password</span>
                </label>
                <a href="" class="font-size-3 text-dodger line-height-reset">Forget Password</a>
              </div>
              <div class="form-group mb-8">
                <button class="btn btn-primary btn-medium w-100 rounded-5 text-uppercase">Log in </button>
              </div>
              <p class="font-size-4 text-center heading-default-color">Don’t have an account? <a href="" class="text-primary">Create a free account</a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
