<form [formGroup]="form" (ngSubmit)="delete(id)">
  <table>
    <tr>
      <td>Address</td>
      <td><input type="text" formControlName="address"></td>
    </tr>
    <tr>
      <td>BedRoom</td>
      <td><input type="text" formControlName="bedroom"></td>
    </tr>
    <tr>
      <td>BathRoom</td>
      <td><input type="text" formControlName="bathroom"></td>
    </tr>
    <tr>
      <td>Description</td>
      <td><input type="text" formControlName="description"></td>
    </tr>
    <tr>
      <td>Name</td>
      <td><input type="text" formControlName="name"></td>
    </tr>
    <tr>
      <td>Price</td>
      <td><input type="text" formControlName="price"></td>
    </tr>
    <tr>
      <td>Status</td>
      <td>
        <select type="text" formControlName="status">
          <option value="2">Maintain</option>
          <option value="1">Available</option>
          <option value="0">Already have tenants</option>
        </select>
      </td>
    </tr>
    <tr>
      <td></td>
      <td><button>Delete</button></td>
    </tr>
  </table>
</form>
